:root {
  --n_rows: 38;
  --n_cols: 28;
  --global-background-color: #eee;
}

.square-template {
  margin: 72px;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--global-background-color);
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  margin: 72px 0 0 72px;
}

.color-block,
.color-eraser {
  width: 20px;
  height: 20px;
}

.color-eraser {
  position: relative;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-eraser::before,
.color-eraser::after {
  content: "";
  position: absolute;
  width: calc(100%);
  height: 1px;
  background-color: black;
  top: 50% - 0.5px;
  left: 0;
}

.color-eraser::before {
  transform: rotate(45deg); /* Rotate the line to make a diagonal */
}

.color-eraser::after {
  transform: rotate(-45deg); /* Rotate the line to make a diagonal */
}

.selected {
  border: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    var(--n_cols),
    24px
  ); /* Adjust the number of columns and size of dots as needed */
  grid-template-rows: repeat(
    var(--n_rows),
    24px
  ); /* Adjust the number of rows and size of dots as needed */
  margin: 0 auto;
}

.dot {
  width: 10px; /* Adjust the size of the dots as needed */
  height: 10px; /* Adjust the size of the dots as needed */
  background-color: #ccc; /* Adjust the color of the dots as needed */
  border-radius: 50%; /* Make the dots round */
  border: 7px solid var(--global-background-color);
  /* box-sizing: border-box; */
}
